
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('tj.jpeg') no-repeat center center/cover;
}

/* Dark overlay */
.overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  color: #333;
}

label {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #ff9800;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #e68900;
}

#result {
  margin-top: 15px;
}
